<p>
    Dear
    <%= user.name %>,
</p>

<p>Your account has now been created with FND and you can log in by using email and password </p>

<div>
    Email :
    <%= user.email %>
</div>
<div>
    Password :
    <%= user.password %>
</div>

<br/>
<div>Regards</div>
<div>FND Support</div>